@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}
fieldset {
  margin-top: 10px;
  background-color: rgb(189, 189, 200);
  width: fit-content;
  height: fit-content;
}
fieldset > legend {
  text-align: center;
  padding: 4px;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
}
#contact {
  color: red;
  padding: 10px;

  display: grid;
  grid-template-areas:
    'personal-info'
    'message';
}
#contact .personal-info {
  grid-area: personal-info;
}
#contact .message {
  grid-area: message;
  margin-top: 10px;
}
.input-width {
  width: 250px;
  height: 20px;
}
button {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  width: 100px;
  height: 20px;
}
.subject {
  width: 420px;
}

.result > h2 {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
